[submodule "{fmt}"]
	path = app/libraries/fmt
	url = https://github.com/fmtlib/fmt
[submodule "Oboe"]
	path = app/libraries/oboe
	url = https://github.com/google/oboe
	branch = 1.3-stable
[submodule "LZ4"]
	path = app/libraries/lz4
	url = https://github.com/lz4/lz4.git
[submodule "Frozen"]
	path = app/libraries/frozen
	url = https://github.com/serge-sans-paille/frozen
[submodule "tzcode"]
	path = app/libraries/tzcode
	url = https://github.com/skyline-emu/tz
	branch = master
[submodule "Perfetto"]
	path = app/libraries/perfetto
	url = https://android.googlesource.com/platform/external/perfetto
	branch = releases/v12.x
[submodule "Vulkan-Hpp"]
	path = app/libraries/vkhpp
	url = https://github.com/KhronosGroup/Vulkan-Hpp
[submodule "Vulkan Memory Allocator"]
	path = app/libraries/vkma
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "Mbed TLS"]
	path = app/libraries/mbedtls
	url = https://github.com/ARMmbed/mbedtls
[submodule "Opus"]
	path = app/libraries/opus
	url = https://github.com/xiph/opus
[submodule "Boost"]
	path = app/libraries/boost
	url = https://github.com/skyline-emu/boost.git
	ignore = all
[submodule "LLVM"]
	path = app/libraries/llvm
	url = https://github.com/llvm/llvm-project.git
	shallow = true
[submodule "C++ Range v3"]
	path = app/libraries/range
	url = https://github.com/ericniebler/range-v3
[submodule "Sirit"]
	path = app/libraries/sirit
	url = https://github.com/yuzu-emu/sirit
[submodule "Shader Compiler"]
	path = app/libraries/shader-compiler
	url = https://github.com/skyline-emu/shader-compiler.git
[submodule "libadrenotools"]
	path = app/libraries/adrenotools
	url = https://github.com/bylaws/libadrenotools/
[submodule "app/libraries/robin-map"]
	path = app/libraries/robin-map
	url = https://github.com/Tessil/robin-map
[submodule "app/libraries/thread-pool"]
	path = app/libraries/thread-pool
	url = https://github.com/bshoshany/thread-pool.git
[submodule "app/libraries/cubeb"]
	path = app/libraries/cubeb
	url = https://github.com/skyline-emu/cubeb
[submodule "app/libraries/audio-core"]
	path = app/libraries/audio-core
	url = https://github.com/skyline-emu/audio-core
