[submodule "app/libraries/tinyxml2"]
	path = app/libraries/tinyxml2
	url = https://github.com/leethomason/tinyxml2
[submodule "app/libraries/fmt"]
	path = app/libraries/fmt
	url = https://github.com/fmtlib/fmt
[submodule "app/libraries/oboe"]
	path = app/libraries/oboe
	url = https://github.com/google/oboe
	branch = 1.3-stable
[submodule "app/libraries/vkhpp"]
	path = app/libraries/vkhpp
	url = https://github.com/skyline-emu/vkhpp
