<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        package="emu.skyline">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
            android:allowBackup="true"
            android:icon="@drawable/logo_skyline"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="GoogleAppIndexingWarning"
            android:fullBackupContent="@xml/backup_descriptor"
            android:requestLegacyExternalStorage="true">
        <activity
                android:name="emu.skyline.LogActivity"
                android:label="@string/log"
                android:parentActivityName="emu.skyline.MainActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="emu.skyline.MainActivity" />
        </activity>
        <activity
                android:name="emu.skyline.SettingsActivity"
                android:label="@string/settings"
                android:parentActivityName="emu.skyline.MainActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="emu.skyline.MainActivity" />
        </activity>
        <activity android:name="emu.skyline.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
